/****************************** Campbell, Biology, 8e / WebDevr Linda Young */

body							{font:bold 11px Arial; color:#FFFFFF; line-height:17px; background:#122C76 url(../leftnav_top.gif) no-repeat top;}

/****************************** entire table */
#leftnavTable					{position:absolute; top:30px;}
/* entire table > cell ... also affects submenu table > cell */
.chapNav						{width:125px; height:100%; background:url(../leftnav_cellbottom.gif) repeat-x bottom;}
	/* table */
	#leftnavModuleTable			{}
	/* table > row */
	#leftnavModuleTableRow		{}
	.leftnavModuleRow			{}
	/* table > row > cell ... also affects submenu table > table > row > cell */
	.leftnavModuleCell			{}
	/* table > row > cell > div (second one is for global features) */
	.leftnavModuleDivRight, .leftnavModuleDiv
								{margin:8px 5px 9px 10px;}
	/* table > row > cell > div > a */
	a.leftnavModule:link		{font:11px Arial; font-weight:800; color:#FFFFFF; text-align:left; text-decoration:none;}
	a.leftnavModule:visited		{font:11px Arial; font-weight:800; color:#FFFFFF; text-align:left; text-decoration:none;}
	a.leftnavModule:active		{font:11px Arial; font-weight:800; color:#DC8828; text-align:left; text-decoration:none;}
	a.leftnavModule:hover		{font:11px Arial; font-weight:800; color:#DC8828; text-align:left; text-decoration:none;}
	a.leftnavModuleHighlight	{font:11px Arial; font-weight:800; color:#DC8828; text-align:left; text-decoration:none;}

/****************************** submenu table */
.submenu						{}
#leftnavOuterSubmodulesTable	{}
	/* table */
	#leftnavSubmoduleTable		{}
	/* table > row */
	#leftnavSubmoduleTableRow 	{}
	/* table > row > cell > div */
	.leftnavSubModuleDivRight 	{margin:8px 2px 9px 15px;}
